<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <img id="loginImageSeal" src="assets/images/logo.png"/>
            <span id="loginSubheader"><%- lang('loginOptions.azuriomSubheader') %></span>
            <form id="loginOptionsForm">
                <div class="loginFieldContainer">
                    <label class="loginLabel" for="loginOptionsEmail">ADRESSE EMAIL</label>
                    <input id="loginOptionsEmail" class="loginField" type="text" placeholder="" autocomplete="email"/>
                    <span class="loginErrorSpan" id="loginOptionsEmailError"></span>
                </div>
                <div class="loginFieldContainer">
                    <label class="loginLabel" for="loginOptionsPassword">MOT DE PASSE</label>
                    <input id="loginOptionsPassword" class="loginField" type="password" placeholder="" autocomplete="current-password"/>
                    <span class="loginErrorSpan" id="loginOptionsPasswordError"></span>
                </div>
                <button id="loginOptionsButton" disabled>
                    <div id="loginOptionsButtonContent">
                        <%- lang('loginOptions.loginButton') %>
                        <svg id="loginOptionsSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#1F252F;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                        <div class="circle-loader">
                            <div class="checkmark draw"></div>
                        </div>
                    </div>
                </button>
                <div id="loginOptionsDisclaimer">
                    <span class="loginSpanDim">
                        <a href="<%- lang('loginOptions.forgotPasswordLink') %>"><%- lang('loginOptions.forgotPasswordText') %></a>
                    </span>
                </div>
            </form>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>
